.expense-form{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    color: white;
}


/* responsive */

@media screen and (max-width: 728px){
    .expense-form{
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        align-items: center;
    }
    
}