.expenses-div{
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 12px;
}
/* .expenses-td{
    width: 250px;
} */
.price-btn{
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 20px;
}